<!-- Author : Venkata Mani Krishna Lam C0911579  -->
<!-- Basic sample template -->
<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <nav>
        <ul>
            <li routerLink="employees">EmployeesList</li>
            <li routerLink="addemployee">Add Employee</li>
        </ul>
    </nav>


<router-outlet></router-outlet>
<footer>
    All Rights Reserved .. and I am  a footer
</footer>